.main-home {
   
  
    background: linear-gradient(310deg, #363636, #2f2935, #151515);
    background-size: 600% 600%;



    -webkit-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    
    height: 100vh;
    padding: 3.5rem;
    

    @-webkit-keyframes AnimationName {
        0%{background-position:33% 0%}
        50%{background-position:68% 100%}
        100%{background-position:33% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:33% 0%}
        50%{background-position:68% 100%}
        100%{background-position:33% 0%}
    }

    .container-home {
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        border: 1px solid #767676;
        height: 100%;
        width: 100%;
        
    }

    .container-about-me {
       
        h1 {
            font-size: clamp(1em, 1em + 1vw, 2em);
            line-height: 2.5rem;
        }

        p {
            font-size: clamp(0.8em, 0.1em + 1vw, 2em);
            line-height: 1.5rem;
            max-height: 15rem; 
        }

        padding: 1.5rem;

        width: 45rem;
       
        max-height: 15rem;
        color: white;
      
    }

    .side-menu {
     
        width: 15rem;
        min-width: 10rem;
        height: 23rem;
        background-color: hsla(0, 0%, 100%, 0.041);
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 15px;
        ul {
            padding-inline-start: 0px;
        }
        li {
            padding: 1rem;
            font-size: clamp(0.7em, 0.1em + 1vw, 1em);
            margin: 1rem 0rem 1rem 0rem;
            border: 1px solid black;
        }
    }

    .container-tecnologias {
        display: flex;
        flex-direction: column;
        width: 45rem;
        background-color: pink;
    }
    .container-tecnologias > div {
        justify-content: space-around;
    }

    .container-projetos {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 45rem;
    }

    .container-contatos {
        width: 45rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 5rem;
            height: 5rem;
        }
    }

 

    .box-projeto {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 15rem;
        max-width: 90%;
        height: 12rem;
        background-color: white;
        margin: 1rem;

        .box-projeto-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 3rem;
            color: white;
           background-color: #151515;
            max-height: 30%;

        }
    }

    .card-github,
    .card-linkedin,
    .card-email {
        color: white;
        width: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }

    #mysql-icon{ 
        height: 50%;
    }

    li:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    .box-projeto:focus-within {
       cursor: pointer;
        opacity: .7;
    }

    
 @media  (max-width: 1024px) {
    .side-menu {
        width: 13rem;
        min-width: 10rem;
        height: 21rem;
    }
    .container-tecnologias  {

        background-color: red;
        width: 50%;
    }

    }

    @media  (max-width: 1200px) {
        .container-about-me  {
            width: 50%;
        }
        .container-tecnologias  {

            background-color: red;
            width: 50%;
        }

        .container-projetos {

            width: 50%;
            background-color: red;
        }

        .container-contatos {
            width: 50%;
            display: flex;
            flex-direction: column;

    
        }
   
    }
}