.main-home {
   
  
    background: linear-gradient(to right, #151515, #151515);
    height: 100vh;
    padding: 3.5rem;

    .container-home {
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        border: 1px solid #767676;
        height: 100%;
        width: 100%;
        
    }

    .container-about-me {
       
        h1 {
            font-size: clamp(1em, 1em + 1vw, 2em);
            line-height: 2.5rem;
        }

        p {
            font-size: clamp(0.8em, 0.1em + 1vw, 2em);
            line-height: 1.5rem;
            max-height: 15rem; 
        }

        padding: 1.5rem;

        width: 45rem;
        max-height: 15rem;
        color: white;
      
    }

    .side-menu {
        width: 15rem;
        height: 23rem;
        background-color: rgba(255, 255, 255, 0.858);
        justify-content: center;
        align-items: center;
        ul {
            padding-inline-start: 0px;
        }
        li {
            padding: 1rem;
            font-size: clamp(0.7em, 0.1em + 1vw, 1em);
            margin: 1rem 0rem 1rem 0rem;
            border: 1px solid black;
        }
    }

    .container-tecnologias {
        display: flex;
        flex-direction: column;
        width: 45rem;
    }
    .container-tecnologias > div {
        justify-content: space-around;
    }

    .container-projetos {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        
        width: 45rem;
        background-color: gray;
    }

    .container-contatos {
        width: 45rem;
        background-color: white;
        display: flex;
        justify-content: space-evenly;

        img {
            width: 5rem;
            height: 5rem;
        }
    }

    .box-projeto {
        display: flex;
        flex-direction: column;
        justify-content: end;

        width: 15rem;
        max-width: 90%;
        height: 12rem;
        background-color: white;
        margin: 1rem;

        .box-projeto-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 3rem;
            color: white;
           background-color: #151515;
            max-height: 30%;

        }
    }

    .card-github,
    .card-linkedin,
    .card-email {
        width: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }

    li:hover {
        cursor: pointer;
    }
    .box-projeto:hover {
       cursor: pointer;
      
    }
}