.card-component {
    transition: 0.2s linear;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    padding: 10px;
    margin: 1rem;
    color: white;

    img,
    p:hover {
        cursor: pointer;
    }


    @media  (max-width: 720px) {
      
        .card-component  {
             font-size: clamp(0.7em, 0.1em + 1vw, 2em);
        }
        
        }

        @media  (max-width: 450px) { 
            .card-component  {
                p {
                    font-size: clamp(0.5em, 0.1em + 1vw, 1em) !important;
                }
               
                margin: 0.5rem !important;
           }
        }
}