.container-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    max-width: 90%;
    height: 30rem;
    max-height: 90%;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    line-height: 1.7;
    background-color: #474e5d;
    z-index: 10;
    font-size: clamp(0.7rem, 0.7rem + 2vw, .9rem);
    overflow: auto;

    .modal-header {
        h1 {
            font-weight: 700;
            font-size: 1.5rem;
        }
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.5rem;
     
        margin: .3rem;
    }

    .container-modal p {
        padding: 1rem;
        font-size: clamp(0.1em, 1em + 1vw, 0.1em);
    }
    img {

        height: 4rem;
    }

    button {

        padding: 1rem 1.6rem;
        background-color: gray;
        border: none;
        border-radius: 10px;
    }

    button:hover {
        opacity: 0.8;
        cursor: pointer;
    }

}