@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');



* {
    box-sizing: border-box;
    margin: 0px;
}

.flexboxrow {
    display: flex;
    flex-direction: row;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
}

.naoSelecionavel {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

.fontd-quicksan {
    font-family: 'Quicksand', sans-serif;
}

body, html {
    overflow-x: hidden;
  }


